/*
  Name: Cheryl Moser
  Date: October 17, 2023
  CSS style document for the AD320 portfolio. Used by all pages in the 
  'CP2' folder for consistency in look & feel.
*/

body {
  background-color: rgb(137, 182, 154);
  font-family: "Bellota Text", sans-serif;
  font-size: large;
  font-weight: lighter;
  margin: 5%;
}